<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home | Better-Reads-App</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
</head>
<body>
    <h1>Login</h1>
    <p>Welcome to Better reads app. Login with GitHub to continue...</p>
    <div>
        Login with GitHub: <a href="/oauth2/authorization/github">click here</a>
    </div>
</body>
</html>
